body {
  margin: 0;
  font-family: 'Plus Jakarta Sans';
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/plus_jakarta_sans/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans Extra Bold';
  src: url('./assets/fonts/plus_jakarta_sans/PlusJakartaSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  src: url('./assets/fonts/plus_jakarta_sans/PlusJakartaSans-Bold.ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans Medium';
  src: url('./assets/fonts/plus_jakarta_sans/PlusJakartaSans-Medium.ttf');
}